# Springboard Data Science Boot Camp - Data Storytelling Project: Adult Income

## Objectives:

- Briefly explore the data and perform what cleaning is necessary.
    - look for NaN, Datatypes, and drop/impute data as seems pertinent
- More thoroughly explore the data and formulate a story around it.
    - histograms
    - barcharts
    - heatmaps
    - boxplots
    - scatterplots
    - pairplot
    - etc.
    - Question the data:
        - Can I count something interesting?
        - Can I find trends (e.g. high, low, increasing, decreasing, anomalies)?
        - Can I make a bar plot or a histogram?
        - Can I compare two related quantities?
        - Can I make a scatterplot?
        - Can I make a time-series plot?
        - Looking at the plots, what are some insights I can make?
        - Can I see any correlations?
        - Is there a hypothesis I can - and should - investigate further?
        - What other questions are the insights leading me to ask?
- Present the data for a non-technical audience.
    - Select what charts best explain the data story and make them as professionally presentable (As clear as possible)
    - ensure that each graphic flows naturally within in the story and is clear enough such that anyone could understand it.
    - ensure rubric standards and project objectives are met prior to submission.

### 1. Import modules and data and briefly explore/clean it ###

In [53]:
# Import python modules
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
# Add more modules here as necessary

In [54]:
# Import the data
df = pd.read_csv('./Data/adult.csv')
df

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [56]:
df.describe()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week
count,48842.000000,4.884200e+04,48842.000000,48842.000000,48842.000000,48842.000000
mean,38.643585,1.896641e+05,10.078089,1079.067626,87.502314,40.422382
std,13.710510,1.056040e+05,2.570973,7452.019058,403.004552,12.391444
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.175505e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.781445e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.376420e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

__Initial Impressions:__
- There are no NaN values!
- however some columns require clarification: "fnlwgt", "educational-num", "capital-gain", "capital-loss", "income"
    - **fnlwgt** is the final weight assigned by a machine learning algorithm and perhaps should be dropped for our purposes
    - **educational-num** is the number of years of education (not necessarily the highest degree of education achieved)
    - **capital-gain/loss** are measure of gain or loss of capital. I assume this means investments in the stock market.
    - **income** is the assumed earned income as calculated by a Machine learning model and only indicates above or belo 50k.
        - Since it's not very clear, this column too should likely be dropped for our purposes. however it would be interesting to see how a machine learning model might predict these values.

Before exploring much further I will drop the **fnlwgt, capital-gain, and capital-loss** columns since the majority of data appears to be filled with 0's (in the capital-gain/loss columns) to account for a lack of data to that end and while it could be a strong indicator of ones' income, there's just not enough data provided there to justify it's use in our exploration.  as for fnlwgt this is a pre-assigned weight which I'm not sure whether I agree with it or not and it is a sum calcuation by some other entities work and so is not a core piece of data.

In [57]:
# drop the "fnlwgt", "capital-gain", "capital-loss" columns from df
df.drop(columns=["fnlwgt", "capital-gain", "capital-loss"], inplace=True)
df

,age,workclass,education,educational-num,marital-status,occupation,relationship,race,gender,hours-per-week,native-country,income
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,40,United-States,>50K
4,18,?,Some-college,10,Never-married,?,Own-child,White,Female,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,38,United-States,<=50K
48838,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,>50K
48839,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,40,United-States,<=50K
48840,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,20,United-States,<=50K
48841,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States,>50K

There **?** in the workclass and occupation columns.  I assume this to mean that the entity represented in the data doesn't have work at that point in time.  If we were pursuing data involving employment rates, this would be a value worth retaining in the dataset as it stands after validating whether or not the ? means what I think it means, these rows should be dropped.

In [58]:
# find all rows which contain a ? in either the workclass or the occupation columns
df[df['workclass'] == "?"]

,age,workclass,education,educational-num,marital-status,occupation,relationship,race,gender,hours-per-week,native-country,income
4,18,?,Some-college,10,Never-married,?,Own-child,White,Female,30,United-States,<=50K
6,29,?,HS-grad,9,Never-married,?,Unmarried,Black,Male,40,United-States,<=50K
13,58,?,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,35,United-States,<=50K
22,72,?,7th-8th,4,Divorced,?,Not-in-family,White,Female,6,United-States,<=50K
35,65,?,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...
48811,35,?,Bachelors,13,Married-civ-spouse,?,Wife,White,Female,55,United-States,>50K
48812,30,?,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,99,United-States,<=50K
48820,71,?,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,10,United-States,>50K
48822,41,?,HS-grad,9,Separated,?,Not-in-family,Black,Female,32,United-States,<=50K
48823,72,?,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,25,United-States,<=50K

In [59]:
df[df['occupation'] == "?"]

,age,workclass,education,educational-num,marital-status,occupation,relationship,race,gender,hours-per-week,native-country,income
4,18,?,Some-college,10,Never-married,?,Own-child,White,Female,30,United-States,<=50K
6,29,?,HS-grad,9,Never-married,?,Unmarried,Black,Male,40,United-States,<=50K
13,58,?,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,35,United-States,<=50K
22,72,?,7th-8th,4,Divorced,?,Not-in-family,White,Female,6,United-States,<=50K
35,65,?,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...
48811,35,?,Bachelors,13,Married-civ-spouse,?,Wife,White,Female,55,United-States,>50K
48812,30,?,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,99,United-States,<=50K
48820,71,?,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,10,United-States,>50K
48822,41,?,HS-grad,9,Separated,?,Not-in-family,Black,Female,32,United-States,<=50K
48823,72,?,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,25,United-States,<=50K

After taking a look at specifically the **?** values in workcalss and occupation columns, It is clear that this also represents unprovided information. so rather than dropping it I will simply replace the '?' with the mean value(s) of their respective columns

In [60]:
df['workclass'].value_counts()

workclass
Private             33906
Self-emp-not-inc     3862
Local-gov            3136
?                    2799
State-gov            1981
Self-emp-inc         1695
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: count, dtype: int64

In [61]:
df['occupation'].value_counts()

occupation
Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
?                    2809
Transport-moving     2355
Handlers-cleaners    2072
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: count, dtype: int64

In [62]:
# replace '?' with 'not-available'
# convert all '?' to NaN in 'occupation' column and replace '?' with 'Private' in 'workclass' column
df['workclass'].replace('?', 'Private', inplace=True)
df['occupation'].replace('?', np.NaN, inplace=True)

# proportionally fill NaN in 'occupation with 'Prof-specialty', 'Craft-repair', 'Exec-managerial'
df['occupation'] = df['occupation'].fillna(pd.Series(np.random.choice(['Prof-specialty', 'Craft-repair', 'Exec-managerial'], 
                                                      p=[.335, .335, .33], size=len(df))))

In [63]:
df['workclass'].value_counts()

workclass
Private             36705
Self-emp-not-inc     3862
Local-gov            3136
State-gov            1981
Self-emp-inc         1695
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: count, dtype: int64

In [64]:
df['occupation'].value_counts()

occupation
Prof-specialty       7072
Craft-repair         7070
Exec-managerial      7037
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
Transport-moving     2355
Handlers-cleaners    2072
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: count, dtype: int64

In [65]:
# Let's also do a value counts in the categorical columns: 'workclass', 'education', 'educational-num', 'marital-status', 'occupation', 'relationship', 'race', 'gender' & 'native-country'
# so as to determine whether it would be worth it to convert these categorical not object columns in the dataframe and to see if it would be worth it to visualize these into barcharts.
cols_list = ['workclass', 'education', 'educational-num', 'marital-status', 'occupation', 'relationship', 'race', 'gender', 'native-country']

for col in cols_list:
    print("==:==:==:==:==:==:==:==:==:==:==:==")
    print(df[col].value_counts())

==:==:==:==:==:==:==:==:==:==:==:==
workclass
Private             36705
Self-emp-not-inc     3862
Local-gov            3136
State-gov            1981
Self-emp-inc         1695
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: count, dtype: int64
==:==:==:==:==:==:==:==:==:==:==:==
education
HS-grad         15784
Some-college    10878
Bachelors        8025
Masters          2657
Assoc-voc        2061
11th             1812
Assoc-acdm       1601
10th             1389
7th-8th           955
Prof-school       834
9th               756
12th              657
Doctorate         594
5th-6th           509
1st-4th           247
Preschool          83
Name: count, dtype: int64
==:==:==:==:==:==:==:==:==:==:==:==
educational-num
9     15784
10    10878
13     8025
14     2657
11     2061
7      1812
12     1601
6      1389
4       955
15      834
5       756
8       657
16      594
3       509
2       247
1        83
Name: count, dtype: int64
==:==:==:==:==:==:==:==:==:==:==:==
marital-status
Married-civ-spouse       22379
Never-married            16117
Divorced                  6633
Separated                 1530
Widowed                   1518
Married-spouse-absent      628
Married-AF-spouse           37
Name: count, dtype: int64
==:==:==:==:==:==:==:==:==:==:==:==
occupation
Prof-specialty       7072
Craft-repair         7070
Exec-managerial      7037
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
Transport-moving     2355
Handlers-cleaners    2072
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: count, dtype: int64
==:==:==:==:==:==:==:==:==:==:==:==
relationship
Husband           19716
Not-in-family     12583
Own-child          7581
Unmarried          5125
Wife               2331
Other-relative     1506
Name: count, dtype: int64
==:==:==:==:==:==:==:==:==:==:==:==
race
White                 41762
Black                  4685
Asian-Pac-Islander     1519
Amer-Indian-Eskimo      470
Other                   406
Name: count, dtype: int64
==:==:==:==:==:==:==:==:==:==:==:==
gender
Male      32650
Female    16192
Name: count, dtype: int64
==:==:==:==:==:==:==:==:==:==:==:==
native-country
United-States                 43832
Mexico                          951
?                               857
Philippines                     295
Germany                         206
Puerto-Rico                     184
Canada                          182
El-Salvador                     155
India                           151
Cuba                            138
England                         127
China                           122
South                           115
Jamaica                         106
Italy                           105
Dominican-Republic              103
Japan                            92
Guatemala                        88
Poland                           87
Vietnam                          86
Columbia                         85
Haiti                            75
Portugal                         67
Taiwan                           65
Iran                             59
Greece                           49
Nicaragua                        49
Peru                             46
Ecuador                          45
France                           38
Ireland                          37
Hong                             30
Thailand                         30
Cambodia                         28
Trinadad&Tobago                  27
Laos                             23
Yugoslavia                       23
Outlying-US(Guam-USVI-etc)       23
Scotland                         21
Honduras                         20
Hungary                          19
Holand-Netherlands                1
Name: count, dtype: int64

In [66]:
# We discovered a '?' in the native-country column! we should replace that with the overwhelming majority of 'United-States'
df['native-country'].replace('?', 'United-States', inplace=True)

Based upon what was found, 'native-country', would likely be too large to visualize but still would be insightful to the income of individuals. Enough data cleaning let's explore the data more visually!

### 2. Explore the data and formulate a story around it. ###

In [79]:
# let's print the head of 'df' so as to have a full list of data to work with
df.head()

,age,workclass,education,educational-num,marital-status,occupation,relationship,race,gender,hours-per-week,native-country,income
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,40,United-States,>50K
4,18,Private,Some-college,10,Never-married,Prof-specialty,Own-child,White,Female,30,United-States,<=50K

,age,workclass,education,educational-num,marital-status,occupation,relationship,race,gender,hours-per-week,native-country,income
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,40,United-States,>50K
4,18,Private,Some-college,10,Never-married,Prof-specialty,Own-child,White,Female,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...
890,42,Private,1st-4th,2,Married-civ-spouse,Adm-clerical,Husband,White,Male,55,Portugal,>50K
961,52,Private,1st-4th,2,Divorced,Farming-fishing,Not-in-family,Black,Male,40,United-States,<=50K
1029,57,Private,Preschool,1,Separated,Exec-managerial,Not-in-family,White,Male,40,United-States,<=50K
1059,31,Private,Preschool,1,Never-married,Handlers-cleaners,Not-in-family,Amer-Indian-Eskimo,Male,25,United-States,<=50K
1489,19,Private,Preschool,1,Never-married,Farming-fishing,Not-in-family,White,Male,36,Mexico,<=50K